@import './base.css';
@import '../modules/weather/assets/weather.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  color: #181818;
}

html {
  min-width: 360px;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--primary-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.container {
  max-width: 1200px;
  min-width: 360px;
  margin: 0 auto;
  padding: 1em;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #6c757d!important;
}

.active{
  color: var(--text-color) !important;
}

input::placeholder{
  color: #6c757d;
}
input:-ms-input-placeholder{
  color: #6c757d;
}
input::-ms-input-placeholder {
  color: #6c757d;
}

input:focus {
  border-color: #03080a;
  box-shadow: 0 0 0 2px #090202;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #6c757d;
}

@media screen and (max-width: 575px) {
  body {
    font-size: 12px;
  }
}